@media only screen and (max-width: 1208px) {
  .max1208-mt10 {
    margin-top:10px ;
  }
}
@media only screen and (max-width: 1288px) {
  .max1288-mt10 {
    margin-top:10px ;
  }
}
@media only screen and (max-width: 1299px) {
  .max1299-mt10 {
    margin-top:10px ;
  }
}
@media only screen and (max-width: 1393px) {
  .max1393-mt10 {
    margin-top:10px ;
  }
}
@media only screen and (max-width: 1475px) {
  .max1475-mt10 {
    margin-top:10px ;
  }
}