@charset "UTF-8";

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%
}

body {
  font-size: 12px;
  line-height: 1;
  font-family: arial, "Hiragino Sans GB";
  background: #fff;
  color: #0f0f0f;
}

.hide-flash-block object[type="application/x-shockwave-flash"] {
  display:none!important;
}


ul, ol {
  list-style: none;
}


fieldset,
img,
input,
button,
textarea {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

img { /*  去掉图片低测默认的3像素空白缝隙*/
  display: block;
  border: 0;
  vertical-align: middle;
}

img[src=""],
img:not([src]){
  opacity:0;
}

//
// Correct overflow not hidden in IE 9/10/11.
//

svg:not(:root) {
  overflow: hidden;
}

//
// Address `overflow` set to `hidden` in IE 8/9/10/11.
//

button {
  overflow: visible;
}

//
// Remove inner padding and border in Firefox 4+.
//

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


input,
textarea {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Microsoft Yahei", "Open Sans", "Helvetica Neue", Arial;
}

input[type="checkbox"],
input[type="radio"] {
  border: 0;
  outline: 0;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  display: none;
}

select, input {
  vertical-align: middle;
}

textarea {/*防止拖动*/
  resize: none;
}

button,
html input[type="button"], // 1
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; // 2
  cursor: pointer; // 3
}

//
// Re-set default cursor for disabled elements.
//

button[disabled],
html input[disabled] {
  cursor: default;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
//

[hidden],
template {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1; /*IE/7/6*/
}

s, i, em {
  font-style: normal;
  text-decoration: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//
// Remove the gray background color from active links in IE 10.
//

a {
  font-size: 16px;
  color: #999;
  text-decoration: none;
  background-color: transparent;
}

//
// Improve readability of focused elements when they are also in an
// active/hover state.
//

a:hover {
  text-decoration: none;
  outline: 0;
}

a:hover,
a:focus {
  color: #0d0d0d;
}

a:active {
  outline: 0;
}

