
::-webkit-scrollbar { width:8px;}
::-webkit-scrollbar-track {background:#e9e9e9;}
::-webkit-scrollbar-thumb {background:#cacaca;}
::-webkit-scrollbar-thumb:window-inactive {background:#cacaca;}
::-webkit-scrollbar-button:vertical:decrement{height:8px; width:8px;background:#e9e9e9;}
::-webkit-scrollbar-button:horizontal:decrement{height:8px; width:8px;background:#e9e9e9;}
::-webkit-scrollbar-button:vertical:increment{height:8px; width:8px;background:#e9e9e9;}
::-webkit-scrollbar-button:horizontal:increment{height:8px; width:8px;background:#e9e9e9;}