
textarea {
  color: #333;
}

textarea {
  resize: none; /*防止拖动*/
  border: 1px solid #ddd;
  border-radius: 2px;
  border-color: #ddd;
  padding: 5px 10px;
}

textarea:focus {
  border-color: #21bcf5;
  outline: 0;
}

textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}
