
.bg-test {
  background-color: #fcf!important;
}
.bg-fff {
  background-color: #fff!important;
}
.bgc-999 {
  background-color: #999;
}
.bgc-F3{
  background-color: #f3f3f3;
}
.bgc-F8{
  background-color: #f8f8f8;
}
.bgc-dceef5{
  background-color: #dceef5;
}
.bgc-ced0d1{
  background-color: #ced0d1;
}
.bgc-60cdf5{
  background-color: #60cdf5;
}
.bgc-fabe16{
  background-color: #fabe16;
}
.bg-test {
  background-color: #fcf;
}
