.bradius-4 {
  border-radius: 4px;
}
.border-none {
  border: none;
}
.border-top-dada {
  border-top: 1px solid #dadada;
}
.border-bottom-dada {
  border-bottom: 1px solid #dadada;
}

.border-bottom-none {
  border-bottom: none;
}
.border-fea0 {
  border: 1px solid #fea027;
}
.border-bottom-999 {
  border-bottom: 1px solid #b2b2b2;
}
.border-b-e3e3e3 {
  border-bottom: 1px solid #e3e3e3;
}
.border-bottom-ccc {
  border-bottom: 1px solid #ccc;
}
.border-right-dada {
  border-right: 1px solid #dadada;
}
.br-4-aeae {
  border-right: 4px solid #eaeaea;
}
.border-right-none {
  border-right: none;
}
.bl-4-aeae {
  border-left: 4px solid #eaeaea;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
}
.border-bottom-C5 {
  border-bottom: 1px solid #c5c5c5;
}
.border-c3c3 {
  border: 1px solid #C3C3C3;
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-ddd {
  border: 1px solid #ddd;
}
.border-dash-ddd {
  border: 1px dashed #ddd;
}