

.main-color {
  color: #3DDDAB !important;
}

.color-number {
  color: #2da1ee !important;
}

.color-title {
  color: #333;
}
.color-999{
  color: #999;
}
.color-333{
  color: #333;
}
.color-69{
  color: #696969;
}
.color-aaa{
  color: #aaa;
}

.color-21bcf5{
  color: #21bcf5;
}
.color-c0c0c0{
  color: #c0c0c0;
}
.color-73{
  color: #737373;
}