
.ff-yh {
  font-family: "Microsoft YaHei"
}

.ff-tahoma {
  font-family: tahoma
}

.ff-arial {
  font-family: arial
}

.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz24 {
  font-size: 24px;
}

.fz30 {
  font-size: 30px;
}

.fzb12 {
  font-size: 12px;
  font-weight: bold;
}

.fzb14 {
  font-size: 14px;
  font-weight: bold;
}

.fzb16 {
  font-size: 16px;
  font-weight: bold;
}

.fzb18 {
  font-size: 18px;
  font-weight: bold;
}

.fzb32 {
  font-size: 32px;
  font-weight: bold;
}

.font-bold {
  font-weight: 700
}

.fzn {
  font-weight: normal;
}