
.lh-normal {
  line-height: normal;
}
.lh1 {
  line-height: 1;
}
.lh20 {
  line-height: 20px;
}
.lh24 {
  line-height: 24px;
}

.lh26 {
  line-height: 26px;
}

.lh28 {
  line-height: 28px;
}

.lh30 {
  line-height: 30px;
}
.lh34 {
  line-height: 34px;
}
.lh35 {
  line-height: 35px;
}

.lh40 {
  line-height: 40px;
}
.lh46 {
  line-height: 40px;
}

.lh50 {
  line-height: 50px;
}
.lh58 {
  line-height: 58px;
}
.lh60 {
  line-height: 60px;
}

.lh75 {
  line-height: 75px;
}
