.pos-relative,
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.pos-fixed {
  position: fixed;
}

.pos-static {
  position: static;
}
.left0{
  left: 0 ;
}
.left3{
  left: 3px;
}
.left5 {
  left: 5px;
}
.left16 {
  left: 16px;
}
.left14 {
  left: 14px;
}
.left42 {
  left: 42px;
}
.left57 {
  left: 57px;
}
.left65 {
  left: 65px;
}
.left71 {
  left: 71px;
}
.left74 {
  left: 74px;
}
.left84 {
  left: 84px;
}
.left800 {
  left: 800px;
}
.left-5{
  left: -5px;
}
.right0{
  right: 0;
}
.right2{
  right: 2px;
}
.right5{
  right: 5px;
}
.right8{
  right: 8px;
}
.right10{
  right: 10px;
}
.right14{
  right: 14px;
}
.right-7{
  right: -7px;
}
.right-28{
  right: -28px;
}
.right-32{
  right: -32px;
}
.right-325{
  right: -325px;
}
.top-13{
  top: -13px;
}
.top-6{
  top: -6px;
}
.top-1{
  top: -1px;
}
.top0{
  top: 0px;
}
.top3{
  top: 3px;
}
.top7{
  top: 7px;
}
.top8{
  top: 8px;
}
.top10{
  top: 10px;
}
.top14{
  top: 14px;
}
.top26{
  top: 26px;
}
.top30{
  top: 30px;
}
.top35{
  top: 35px;
}
.top36{
  top: 36px;
}
.top40{
  top: 40px;
}
.top45{
  top: 45px;
}
.bottom0{
  bottom: 0px;
}
.bottom5{
  bottom: 5px;
}
.bottom10{
  bottom: 10px;
}
.zindex-1 {
  z-index: -1;
}
.zindex1 {
  z-index: 1;
}
.zindex10 {
  z-index: 10;
}
.zindex11 {
  z-index: 11;
}
.zindex12 {
  z-index: 12;
}
.zindex100 {
  z-index: 100;
}
.zindex999 {
  z-index: 999;
}