.wauto{
  width: auto;
}
.w20p{
  width: 19.5%;
}
.w25p{
  width: 24.5%;
}
.w5 {
  width: 5px;
}

.w10 {
  width: 10px;
}

.w15 {
  width: 15px;
}

.w16 {
  width: 16px;
}
.w18 {
  width: 18px;
}
.w20 {
  width: 20px;
}
.w21 {
  width: 21px;
}
.w24 {
  width: 24px;
}
.w25 {
  width: 25px;
}

.w30 {
  width: 30px;
}
.w32 {
  width: 32px;
}
.w33 {
  width: 33px;
}
.w35 {
  width: 35px;
}
.w38 {
  width: 38px;
}
.w40 {
  width: 40px;
}

.w45 {
  width: 45px;
}
.w48 {
  width: 48px;
}
.w50 {
  width: 50px;
}
.w53 {
  width: 53px;
}
.w55 {
  width: 55px;
}

.w60 {
  width: 60px;
}

.w65 {
  width: 65px;
}

.w70 {
  width: 70px;
}
.w74 {
  width: 74px;
}
.w75 {
  width: 75px;
}
.w77 {
  width: 77px;
}
.w80 {
  width: 80px;
}
.w82 {
  width: 82px;
}
.w84 {
  width: 84px;
}
.w85 {
  width: 85px;
}

.w90 {
  width: 90px;
}

.w92 {
  width: 92px;
}
.w95 {
  width: 95px;
}
.w96 {
  width: 96px;
}
.w98 {
  width: 98px;
}

.w100 {
  width: 100px;
}
.w102 {
  width: 102px;
}
.w105 {
  width: 105px;
}
.w108 {
  width: 108px;
}

.w110 {
  width: 110px;
}
.w112 {
  width: 112px;
}
.w115 {
  width: 115px;
}

.w120 {
  width: 120px;
}

.w125 {
  width: 125px;
}

.w130 {
  width: 130px;
}

.w135 {
  width: 135px;
}

.w140 {
  width: 140px;
}

.w145 {
  width: 145px;
}
.w147 {
  width: 147px;
}
.w148 {
  width: 148px;
}
.w150 {
  width: 150px;
}

.w155 {
  width: 155px;
}

.w160 {
  width: 160px;
}

.w165 {
  width: 165px;
}

.w170 {
  width: 170px;
}

.w175 {
  width: 175px;
}

.w180 {
  width: 180px;
}
.w181 {
  width: 181px;
}
.w185 {
  width: 185px;
}

.w190 {
  width: 190px;
}

.w195 {
  width: 195px;
}

.w200 {
  width: 200px;
}

.w205 {
  width: 205px;
}
.w208 {
  width: 208px;
}
.w210 {
  width: 210px;
}

.w215 {
  width: 215px;
}

.w220 {
  width: 220px;
}

.w225 {
  width: 225px;
}

.w230 {
  width: 230px;
}

.w235 {
  width: 235px;
}

.w240 {
  width: 240px;
}

.w245 {
  width: 245px;
}

.w250 {
  width: 250px;
}

.w255 {
  width: 255px;
}

.w260 {
  width: 260px;
}

.w265 {
  width: 265px;
}

.w270 {
  width: 270px;
}

.w275 {
  width: 275px;
}

.w280 {
  width: 280px;
}

.w285 {
  width: 285px;
}

.w290 {
  width: 290px;
}

.w295 {
  width: 295px;
}

.w300 {
  width: 300px;
}

.w305 {
  width: 305px;
}

.w310 {
  width: 310px;
}

.w315 {
  width: 315px;
}

.w320 {
  width: 320px;
}

.w325 {
  width: 325px;
}

.w330 {
  width: 330px;
}

.w335 {
  width: 335px;
}

.w340 {
  width: 340px;
}
.w343 {
  width: 343px;
}
.w345 {
  width: 345px;
}
.w348 {
  width: 348px;
}
.w350 {
  width: 350px;
}

.w360 {
  width: 360px;
}

.w400 {
  width: 400px;
}
.w412 {
  width: 412px;
}
.w435 {
  width: 435px;
}
.w440 {
  width: 440px;
}
.w442 {
  width: 442px;
}
.w446 {
  width: 446px;
}
.w460 {
  width: 460px;
}
.w500 {
  width: 500px;
}
.w530 {
  width: 530px;
}
.w600 {
  width: 600px;
}
.w626 {
  width: 626px;
}
.w635 {
  width: 635px;
}
.w642 {
  width: 642px;
}
.w650 {
  width: 650px;
}

.w700 {
  width: 700px;
}
.w741 {
  width: 741px;
}
.w783 {
  width: 783px;
}
.w760 {
  width: 760px;
}
.w800 {
  width: 800px;
}
.w815 {
  width: 815px;
}
.w835 {
  width: 835px;
}
.w840 {
  width: 840px;
}
.w860 {
  width: 860px;
}
.w870 {
  width: 870px;
}
.w875 {
  width: 875px;
}
.w900 {
  width: 900px;
}
.w930 {
  width: 930px;
}
.w1000 {
  width: 1000px;
}
.wp10 {
  width: 10%;
}
.wp20 {
  width: 20%;
}
.wp25 {
  width: 25%;
}
.wp32 {
  width: 32%;
}
.wp33 {
  width: 33.333333%;
}
.wp30 {
  width: 30%;
}
.wp40 {
  width: 40%;
}
.wp49 {
  width: 49%;
}
.wp50 {
  width: 50%;
}
.wp60 {
  width: 60%;
}
.wp80 {
  width: 80%;
}
.wp90 {
  width: 90%;
}
.wp94 {
  width: 94%;
}
.wp98 {
  width: 98%;
}
.wp100 {
  width: 100%;
}

.min-w60{
  min-width: 60px !important;
}
.maxwidth70{
  max-width: 70px !important;
}
.maxwidth80{
  max-width: 80px !important;
}
.maxwidth90{
  max-width: 90px !important;
}
.maxwidth100 {
  max-width: 100px !important;
}
.maxwidth103 {
  max-width: 103px !important;
}
.maxwidth200 {
  max-width: 200px !important;
}
.maxwidth260 {
  max-width: 260px !important;
}
.maxwidth300 {
  max-width: 300px !important;
}

.maxwidth400 {
  max-width: 400px !important;
}

.maxwidth500 {
  max-width: 500px !important;
}